[submodule ".vim/plugin/current-func-info.vim"]
	path = .vim/plugin/current-func-info.vim
	url = git://github.com/k28/current-func-info.vim
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
