[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule ".vim/plugin/current-func-info.vim"]
	path = .vim/plugin/current-func-info.vim
	url = git://github.com/k28/current-func-info.vim
